// Fix overflow
#main {
    min-width: 0;
}

.article-container {
    .article-title {
        margin-bottom: 0;
    }
    .dates-container {
	display: flex;
	flex-wrap: wrap;
	.date-container {
	    margin-right: 0.5rem;
	    :last-child {
		margin-right: inherit;
	    }
	}
    }
    .article-content {
        a {
            color: $link-default-color;
        }
        pre {
            padding: .5em;
            border-radius: .25rem;
            max-width: 100%;
            overflow: auto;
        }
    }
    .article-license {
        margin: 1rem 0;
        a {
            color: $link-default-color;
        }
    }
}

.article-summary-container {
    >* {
        display: block;
    }
    .article-title {
        margin-bottom: 0;
    }
    .article-summary {
        margin: .5rem 0;
        a {
            text-decoration: underline;
        }
        .continue-reading-link {
            text-decoration: none;
            color: $link-default-color;
        }
    }
}

.date-container {
    color: $date-color;
}

.article-taxonomies {
    display: flex;
    flex-wrap: wrap;
    .article-taxonomy {
        margin-right: 0.25rem;
         :last-child {
            margin-right: inherit;
        }
    }
    .article-taxonomy-name {
        margin-right: 0.25rem;
    }
    .article-taxonomy-name::after {
        content: ":";
    }
    .article-term-name {
        margin-right: 0.25rem;
        :last-child {
            margin-right: inherit;
        }
    }
    a.article-term-name {
        color: $link-default-color;
    }
}
