p {
  text-align: justify;
  text-autospace: normal;
}

a {
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0.125em 0 0 $link-default-color;
  }
}

.zola-anchor {
  color: $theme-color;
}

p code {
  background-color: $code-background-color;
  padding: 0.5ex;
  border-radius: 1ex;
}

pre {
  border: 1px solid $code-block-border;
  border-radius: 1ex;
}

figure {
  text-align: center;
  img {
    max-width: 100%;
    border-radius: 5px;
    background: repeating-conic-gradient(
      rgb(235, 235, 235) 0% 25%,
      lightgray 0% 50%
    );
    background-size: 25px 25px;
  }
  figcaption {
    font-size: 0.9em;
    color: $caption-color;
  }
}

.zola-anchor {
  margin-right: 8px;
}
