@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@500;700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Noto Serif SC", serif;
  font-weight: 500;
  line-height: 1.6;

  code,
  pre {
    font-family: "Source Code Pro", monospace;
    font-weight: normal;
  }
}
