* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    #header, #footer {
        flex: none;
    }
    #main-aside-container {
        flex: 1 0 auto;
    }
}

#main-aside-container {
    #main {
        padding: 1rem;
    }
    #aside-container {
        padding: 0 1rem;
    }
}

@media all and (min-width: $layout-change-width) {
    #header, #footer {
        z-index: 1; // Cover aside
    }
    #main-aside-container {
        #aside {
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            max-width: 20rem;
            box-shadow: 0 0 .125rem .0625rem $sidebar-shadow-color;
            overflow: auto;
            white-space: nowrap;
        }
    }
}

@media not all and (min-width: $layout-change-width) {
    #main-aside-container {
        #aside #aside-container {
            position: fixed;
            left: -100vw;
            bottom: 2rem;
            max-height: 80vh;
            max-width: 80vw;
            background: white;
            border: .125rem solid $theme-color;
            border-left: 0;
            transition: left .3s;
            
            padding-top: .5rem;
            padding-bottom: .5rem;
            overflow: auto;
            white-space: nowrap;
        }
        #aside:hover #aside-container {
            left: 0;
        }
        #aside::after {
            display: flex;
            justify-content: center;
            align-items: center;
            content: "🔗";
            position: fixed;
            bottom: 0rem;
            left: -.5rem;
            z-index: 2;
            width: 2rem;
            height: 2rem;
            // border-radius: .25rem;
            background: white;
            border-style: solid;
            border-color: $theme-color;
            border-width: .125rem .125rem 0 0;
            cursor: context-menu;
            opacity: .5;
            transition: all .3s;
        }
        #aside:hover::after {
            left: 0;
            opacity: 1;
        }
    }
}