.header-container {
    background: {
        color: $header-background-color;
    }

    color: $header-foreground-color;
    box-shadow: 0 0 $shadow-blur-radius $shadow-spread-radius $header-shadow-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    #blog-title {
        margin: 0;
        padding: 0 16px;
        height: 48px;
        a {
            display: block;
            height: 100%;
            padding: 4px 0;

            &:hover {
                box-shadow: none;
            }
        }
        img {
            display: block;
            height:100%;
            transition: transform .3s;
            &:hover {
                transform: rotate(13deg);
            }
        }
    }

    #global-nav {
        padding: 8px 16px;

        // font-size: 20px;
        .global-nav-item-container::after {
            content: " | ";
        }

        .global-nav-item-container:last-child::after {
            content: none;
        }
    }
}
