.pages-list-container {
    ul {
        padding: 0;
    }
    li {
        margin-bottom: 1rem;
    }
    li:last-child {
        margin-bottom: 0;
    }
    li::before {
        content: none;
    }
}