$theme-color: maroon;
$theme-contrast: white;
$theme-shadow: gray;
$theme-change-level: 20;
$header-background-color: white;
$header-foreground-color: black;
$header-shadow-color: $theme-shadow;
$footer-background-color: white;
$footer-foreground-color: black;
$footer-shadow-color: $theme-shadow;
$sidebar-shadow-color: $theme-shadow;
$link-default-color: $theme-color;
$date-color: gray;
$main-container-max-width: 760px;
$aside-width: 240px;
$layout-change-width: 1000px;
$list-indent-size: 16px;
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.45;
}

code,
pre {
    font-family: "DejaVu Sans Mono", "Lucida Console", Monaco, monospace;
}

code {
    padding: 1px;
    border-radius: 3px;
}

@import "global";
@import "list";
@import "article";
@import "header";
@import "footer";
@import "pages_list";
@import "aside";
@import "katex";
