$theme-color: maroon;
$theme-contrast: white;
$theme-shadow: gray;
$theme-change-level: 20;
$header-background-color: white;
$header-foreground-color: black;
$header-shadow-color: $theme-shadow;
$footer-background-color: white;
$footer-foreground-color: black;
$footer-shadow-color: $theme-shadow;
$sidebar-shadow-color: $theme-shadow;
$floating-aside-border-color: black;
$link-default-color: $theme-color;
$date-color: gray;
$caption-color: darken(gray, 20%);

$main-container-max-width: 760px;
$aside-width: 240px;
$layout-change-width: 980px;
$list-indent-size: 16px;
$shadow-blur-radius: 0;
$shadow-spread-radius: 2px;

@import "global";
@import "article";
@import "header";
@import "footer";
@import "pages_list";
@import "aside";
@import "katex";
@import "giscus";
@import "contents";
@import "fonts";
