{% import "base/parts.html" as parts %}
<!DOCTYPE html>
<html lang={% block language %}{{ config.default_language }}{% endblock language %}>
<head>
    {% block head %}
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock meta %}
        <link rel=stylesheet type="text/css" href={{ get_url(path="normalize.css", trailing_slash=false) }}>
        <link rel=stylesheet type="text/css" href={{ get_url(path="style.css", trailing_slash=false) }}>
        <script defer src={{ get_url(path="layout-helper.js", trailing_slash=false) }}></script>
        {% if config.extra.google_tag_manager.enable %}
            {{ parts::google_tag_manager(code=config.extra.google_tag_manager.code) }}
        {% endif %}
        {% if config.extra.katex.enable %}
            {{ parts::katex(cfg=config.extra.katex) }}
        {% endif %}
        {% block atom %}
            <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
        {% endblock atom %}
    {% endblock head %}
</head>
<body>
    {% block body %}
        {% if config.extra.google_tag_manager_enable %}
            {{ parts::google_tag_manager_no_script(code=config.extra.google_tag_manager_code) }}
        {% endif %}
        <header id="header">
            {% block header %}
            {{ parts::header(title=config.title,
                title_url=config.base_url,
                nav_items=config.extra.global_nav_items) }}
            {% endblock header %}
        </header>
        <div id="main-aside-container">
            {% block optional_aside %}
                <aside id="aside">
                    <div id="aside-container">
                        {% block aside %}
                        {% endblock aside %}
                    </div>
                </aside>
            {% endblock optional_aside %}
            <main id="main">
                <div id="main-container">
                    {% block main %}
                    {% endblock main %}
                </div>
            </main>
        </div>
        <footer id="footer">
            {% block footer %}
            {{ parts::footer(copyright=config.extra.copyright, powered_by=config.extra.powered_by) }}
            {% endblock footer %}
        </footer>
    {% endblock body %}
</body>
</html>
