{# Header and footer can only be used once #}
{% macro header(title, title_url, nav_items) %}
    <div class="header-container container">
        <h1 id="blog-title" class="title"><a href={{ title_url }}>{{ title }}</a></h1>
        <nav id="global-nav">
            {%- for nav_item in nav_items -%}
                <span class="global-nav-item-container"><a class="global-nav-item"
                    href={% if nav_item.path %}{{ get_url(path=nav_item.path) }}{% else %}{{ nav_item.link }}{% endif %}
                >{{ nav_item.name }}</a></span>
            {%- endfor -%}
        </nav>
    </div>
{% endmacro header %}

{% macro footer(copyright, powered_by) %}
    <div class="footer-container container">
        <div id="copyright-container">
            <small id="copyright">{{ copyright }}</small>
        </div>
        
        {% if powered_by %}
            <div id="powered-by-container">
                <small id="powered-by">{{ powered_by | markdown(inline=true) | safe }}</small>
            </div>
        {% endif %}
    </div>
{% endmacro footer %}

{% macro pages_list(pages, title, title_url, have_title=true, config) %}
    <div class="pages-list-container container">
        {% if have_title == true %}
            <h1 class="title list-title pages-list-title"><a href={{ title_url }}>{{ title }}</a></h1>
        {% endif %}
        <ul class="pages-list">
            {% for page in pages %}
                <li class="pages-list-item">
                    {{ self::article_summary(page=page, config=config) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro pages_list %}

{% macro taxonomy_list(terms, title, title_url, have_title=true) %}
    <div class="taxonomy-list-container container">
        {% if have_title == true %}
            <h1 class="title list-title taxonomy-list-title"><a href={{ title_url }}>{{ title }}</a></h1>
        {% endif %}
        <ul class="taxonomy-list">
            {% for term in terms %}
                <li class="taxonomy-list-item">
                    <a class="taxonomy-list-item-link" href="{{ term.permalink }}">{{ term.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro pages_list %}

{% macro toc_inner(toc) %}
    {% if toc | length != 0 %}
        <ul class="toc-parent">
                {% for entry in toc %}
                <li class="toc-entry">
                    <a href={{ entry.permalink }}>{{ entry.title | safe | striptags }}</a>
                    {{ self::toc_inner(toc=entry.children) }}
                </li>
                {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro toc(toc, title) %}
    <div class="toc-container container">
        <h1 class="title toc-title">{{ title }}</h1>
        {{ self::toc_inner(toc=toc) }}
    </div>
{% endmacro %}

{% macro article_title_text(page, config) %}
    <span class="draft-indicator">
        {% if page.draft == true %}
            {{ "[" ~ config.extra.text_draft ~ "]" }}
        {% endif %}
    </span>
    <span>
        {{ page.title }}
    </span>
{% endmacro %}

{% macro article_taxonomies(page, config) %}
    <div class="article-taxonomies">
        {%- for taxonomy_config in config.taxonomies -%}
            {%- set taxonomy_name = taxonomy_config.name -%}
            {%- set term_names = page.taxonomies[taxonomy_name] -%}
            <span class="article-taxonomy"><a class="article-taxonomy-name" href="{{ get_url(path=taxonomy_name) }}">
                {{ taxonomy_name | capitalize }}</a><span class="article-terms">
                {%- for term_name in term_names -%}
                    {%- if page.draft == true -%}
                        <span class="article-term-name">{{ term_name }}</span>
                    {%- else -%}
                        {%- set term_url = get_taxonomy_url(kind=taxonomy_name, name=term_name) -%}
                        <a class="article-term-name" href="{{ term_url }}">{{ term_name }}</a>
                    {%- endif -%}
                {%- endfor -%}
            </span></span>
        {%- endfor -%}
    </div>
{% endmacro %}

{% macro article_title(page, config) %}
    <h1 class="title article-title">
        <a class="article-title-link" href="{{ page.permalink }}">
            {{ self::article_title_text(page=page, config=config) }}
        </a>
    </h1>
{% endmacro %}

{% macro article_datetime(page, config) %}
    <time datetime={{ page.date}}>{{ page.date | date(format=config.extra.date_format) }}</time>
{% endmacro %}

{% macro article_summary(page, config) %}
    <article class="article-summary-container container">
        {{ self::article_title(page=page, config=config) }}
        {{ self::article_datetime(page=page, config=config) }}
        <section class="article-summary">
            {# page.summary | safe | striptags #}
            {{ page.summary | safe }}
            <a class="continue-reading-link" href="{{ page.permalink }}#continue-reading">
                {{ config.extra.text_continue_reading }}
            </a>
        </section>
        {{ self::article_taxonomies(page=page, config=config) }}
    </article>
{% endmacro %}

{% macro article_license(page, config) %}
    {% if page.extra.license %}
        <section class="article-license">
            {% if page.extra.license_image %}
                <div class="license-image">
                    {{ page.extra.license_image | markdown(inline=true) }}
                </div>
            {% endif %}
            <small class="license">{{ page.extra.license | markdown(inline=true) }}</small>
        </section>
    {% endif %}
{% endmacro %}

{% macro article(page, config) %}
    <article class="article-container container">
        {{ self::article_title(page=page, config=config) }}
        {{ self::article_datetime(page=page, config=config) }}
        {{ self::article_taxonomies(page=page, config=config) }}
        {{ self::article_license(page=page, config=config) }}
        <section class="article-content">{{ page.content | safe }}</section>
    </article>
{% endmacro %}

{% macro pages_list_by_year(pages, title, title_url, have_title=true) %}
    {% if have_title == true %}
        <h1 class="title list-title page-list-by-year-title"><a href={{ title_url }}>{{ title }}</a></h1>
    {% endif %}
    {% for year, posts in pages | group_by(attribute="year") %}
        <h2 id="year-{{ year }}"><a class="zola-anchor anchor-link" href="#year-{{ year }}">🔗</a>{{ year }}</h2>
        <ul>
            {% for post in posts %}
                <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endmacro %}

{% macro simple_page(page, config) %}
    <article class="article-container simple-artitle-container container">
        {{ self::article_title(page=page, config=config) }}
        <section class="article-content">{{ page.content | safe }}</section>
    </article>
{% endmacro %}
