{# Header and footer can only be used once #}
{% macro header(title, title_url, nav_items) %}
    <div class="header-container container">
        <h1 id="blog-title" class="title">
            <a href={{ title_url }}>
                <img src="{{ get_url(path="favicon.svg", cachebust=true) }}" alt="{{ title }}" />
            </a>
        </h1>
        <nav id="global-nav">
            {%- for nav_item in nav_items -%}
                <span class="global-nav-item-container"><a class="global-nav-item"
                    href={% if nav_item.path %}{{ get_url(path=nav_item.path) }}{% else %}{{ nav_item.link }}{% endif %}
                >{{ nav_item.name }}</a></span>
            {%- endfor -%}
        </nav>
    </div>
{% endmacro header %}

{% macro footer(copyright, powered_by) %}
    <div class="footer-container container">
        <div id="copyright-container">
            <small id="copyright">{{ copyright | markdown(inline=true) | safe }}</small>
        </div>

        {% if powered_by %}
            <div id="powered-by-container">
                <small id="powered-by">{{ powered_by | markdown(inline=true) | safe }}</small>
            </div>
        {% endif %}
    </div>
{% endmacro footer %}

{% macro pages_list(pages, title, title_url, have_title=true, config) %}
    <div class="pages-list-container container">
        {% if have_title == true %}
            <h1 class="title list-title pages-list-title"><a href={{ title_url }}>{{ title }}</a></h1>
        {% endif %}
        <ul class="pages-list">
            {% for page in pages %}
                <li class="pages-list-item">
                    {{ self::article_summary(page=page, config=config) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro pages_list %}

{% macro taxonomy_list(terms, title, title_url, have_title=true) %}
    <div class="taxonomy-list-container container">
        {% if have_title == true %}
            <h1 class="title list-title taxonomy-list-title"><a href={{ title_url }}>{{ title }}</a></h1>
        {% endif %}
        <ul class="taxonomy-list">
            {% for term in terms %}
                <li class="taxonomy-list-item">
                    <a class="taxonomy-list-item-link" href="{{ term.permalink }}">{{ term.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro taxonomy_list %}

{% macro toc_inner(toc) %}
    {% if toc | length != 0 %}
        <ul class="toc-parent">
                {% for entry in toc %}
                <li class="toc-entry">
                    <a href={{ entry.permalink }}>{{ entry.title | safe | striptags }}</a>
                    {{ self::toc_inner(toc=entry.children) }}
                </li>
                {% endfor %}
        </ul>
    {% endif %}
{% endmacro toc_inner %}

{% macro toc(toc, title) %}
    <div class="toc-container container">
        <h1 class="title toc-title">{{ title }}</h1>
        {{ self::toc_inner(toc=toc) }}
    </div>
{% endmacro toc %}

{% macro article_title_text(page, config) %}
    <span class="draft-indicator">
        {% if page.draft == true %}
            {{ "[" ~ config.extra.text_draft ~ "]" }}
        {% endif %}
    </span>
    <span>
        {{ page.title }}
    </span>
{% endmacro article_title_text %}

{% macro article_taxonomies(page, config) %}
    <div class="article-taxonomies">
        {%- for taxonomy_config in config.taxonomies -%}
            {%- set taxonomy_name = taxonomy_config.name -%}
            {%- set term_names = page.taxonomies[taxonomy_name] -%}
            <span class="article-taxonomy"><a class="article-taxonomy-name" href="{{ get_url(path=taxonomy_name) }}">
                {{ taxonomy_name | capitalize }}</a><span class="article-terms">
                {%- for term_name in term_names -%}
                    {%- if page.draft == true -%}
                        <span class="article-term-name">{{ term_name }}</span>
                    {%- else -%}
                        {%- set term_url = get_taxonomy_url(kind=taxonomy_name, name=term_name) -%}
                        <a class="article-term-name" href="{{ term_url }}">{{ term_name }}</a>
                    {%- endif -%}
                {%- endfor -%}
            </span></span>
        {%- endfor -%}
    </div>
{% endmacro article_taxonomies %}

{% macro article_title(page, config) %}
    <h1 class="title article-title">
        <a class="article-title-link" href="{{ page.permalink }}">
            {{ self::article_title_text(page=page, config=config) }}
        </a>
    </h1>
{% endmacro article_title %}

{% macro article_datetime(page, config, verbose) %}
    <div class="dates-container">
        <div class="date-container">
            <time datetime={{ page.date}}>{{ page.date | date(format=config.extra.date_format) }}</time>
 	        {% if verbose %}
            <span class="date-label">(created)</span>
            {% endif %}
        </div>
        {% if verbose and page.updated and page.updated != page.date %}
        <div class="date-container">
	    <time datetime={{ page.updated }}>{{ page.updated | date(format=config.extra.date_format) }}</time>
            <span class="date-label">(updated)</span>
        </div>
        {% endif %}
    </div>
{% endmacro article_datetime %}

{% macro article_summary(page, config) %}
    <article class="article-summary-container container">
        {{ self::article_title(page=page, config=config) }}
        {{ self::article_datetime(page=page, config=config, verbose=false) }}
        {{ self::article_taxonomies(page=page, config=config) }}
        <section class="article-summary">
            {# page.summary | safe | striptags #}
            {{ page.summary | safe }}
            <a class="continue-reading-link" href="{{ page.permalink }}#continue-reading">
                {{ config.extra.text_continue_reading }}
            </a>
        </section>
    </article>
{% endmacro article_summary %}

{% macro article_license(page, config) %}
    {% if page.extra.license %}
        <section class="article-license">
            {% if page.extra.license_image %}
                <div class="license-image">
                    <img src="{{ get_url(path=page.extra.license_image, cachebust=true) }}" alt="{{ page.extra.license_image_alt }}" />
                </div>
            {% endif %}
            <small class="license-text">{{ page.extra.license | markdown(inline=true) | safe }}</small>
        </section>
    {% endif %}
{% endmacro article_license %}

{% macro article(page, config) %}
    <article class="article-container container">
        {{ self::article_title(page=page, config=config) }}
        {{ self::article_datetime(page=page, config=config, verbose=true) }}
        {{ self::article_taxonomies(page=page, config=config) }}
        {{ self::article_license(page=page, config=config) }}
        <section class="article-content">{{ page.content | safe }}</section>
    </article>
{% endmacro article %}

{% macro pages_list_by_year(pages, title, title_url, have_title=true) %}
    {% if have_title == true %}
        <h1 class="title list-title page-list-by-year-title"><a href={{ title_url }}>{{ title }}</a></h1>
    {% endif %}
    {% for year, posts in pages | group_by(attribute="year") %}
        <h2 id="year-{{ year }}">
            {% set id = "year-{{year}}" %}
            {% include "anchor-link.html" %}
            {{ year }}
        </h2>
        <ul>
            {% for post in posts %}
                <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endmacro pages_list_by_year %}

{% macro simple_page(page, config) %}
    <article class="article-container simple-article-container container">
        {{ self::article_title(page=page, config=config) }}
        <section class="article-content">{{ page.content | safe }}</section>
    </article>
{% endmacro simple_page %}

{% macro google_tag_manager(code) %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ code }}');</script>
    <!-- End Google Tag Manager -->
{% endmacro google_tag_manager %}

{% macro google_tag_manager_no_script(code) %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ code }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endmacro google_tag_manager_no_script %}

{% macro giscus(cfg) %}
    <script src="https://giscus.app/client.js"
            data-repo="{{ cfg.repo }}"
            data-repo-id="{{ cfg.repo_id }}"
            data-category-id="{{ cfg.category_id }}"
            data-mapping="{{ cfg.mapping }}"
            data-reactions-enabled="{{ cfg.reactions_enabled }}"
            data-theme="{{ cfg.theme }}"
            crossorigin="anonymous"
            async>
    </script>
{% endmacro giscus %}

{% macro giscus_placeholder() %}
    <div class="giscus" />
{% endmacro giscus_placeholder %}

{% macro katex(render_options) %}
    <link rel="stylesheet" href="{{ get_url(path="katex/katex.min.css", cachebust=true) }}" />
    <script defer src="{{ get_url(path="katex/katex.min.js", cachebust=true) }}"></script>
    <script defer src="{{ get_url(path="katex/contrib/mathtex-script-type.min.js", cachebust=true) }}"></script>
    <script defer src="{{ get_url(path="katex/contrib/copy-tex.min.js", cachebust=true) }}"></script>
    <script defer src="{{ get_url(path="katex/contrib/auto-render.min.js", cachebust=true) }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {{ render_options | safe }} );
        });
    </script>
{% endmacro katex %}

{% macro open_graph(cfg) %}
    <meta property="og:url" content="{{ current_url | safe }}" />
    {%- if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
    {%- elif page.summary %}
        <meta property="og:description" content="{{ page.summary | striptags | truncate(length=160, end='...') }}" />
    {%- else %}
        <meta property="og:description" content="{{ config.description }}" />
    {%- endif %}
    {%- if page.title %}
        <meta property="og:title" content="{{ page.title }} | {{ config.title }}" />
    {%- else %}
        <meta property="og:title" content="{{ config.title }}" />
    {%- endif %}
    {%- if page.extra.thumbnail %}
        {% set image = resize_image(path=page.path ~ page.extra.thumbnail, format="png", width=1200, height=630, op="fill") %}
        <meta property="og:image" content="{{ image.url }}" />
    {%- else %}
        <meta property="og:image" content="{{ get_url(path=cfg.default_image, cachebust=true) }}" />
    {%- endif %}
    <meta property="og:site_name" content="{{ config.title }}" />
    <meta property="og:locale" content="{{ lang }}" />
    <meta property="og:type" content="website" />
    {%- if page.updated %}
        <meta property="og:updated_time" content="{{ page.updated | date(format='%F') }}" />
    {%- elif page.date %}
        <meta property="og:updated_time" content="{{ page.date | date(format='%F') }}" />
    {%- endif %}
{% endmacro open_graph %}
