{% extends "base/base.html" %}
{% block main %}
    {{ super() }}
    {% set section = get_section(path="posts/_index.md") %}
    {{ parts::pages_list(
        pages=section.pages,
        have_title=false,
        title="",
        title_url="",
        config=config
    ) }}
{% endblock main %}
{% block aside %}
    {{ super() }}
    {% for taxonomy_settings in config.extra.index_aside_taxonomies %}
        {% set taxonomy_name = taxonomy_settings.name %}
        {% set taxonomy = get_taxonomy(kind=taxonomy_name) %}
        {% set terms = taxonomy.items %}
        {{ parts::taxonomy_list(
            terms=terms,
            title=taxonomy_name | capitalize,
            title_url=get_url(path=taxonomy_name),
            have_title=true
        ) }}
    {% endfor %}
{% endblock aside %}
