{% extends "base/base.html" %}
{% block title %}
    {{ page.title ~ " -" }}
    {{ super() }}
{% endblock title %}
{% block main %}
    {{ super() }}
    {{ parts::article(page=page, config=config) }}
    {% if config.extra.utterances.enable %}
        {{  parts::utterances(cfg=config.extra.utterances) }}
    {% endif %}
{% endblock main %}
{% block optional_aside %}
    {% if page.toc %}
        {{ super() }}
    {% endif %}
{% endblock optional_aside %}
{% block aside %}
    {{ parts::toc(toc=page.toc, title=config.extra.text_toc_title) }}
{% endblock aside %}
